---
import "@/styles/globals.css";
import Layout from "../layouts/Layout.astro";
import CameraList from "../components/Sidebar/CameraList.svelte";
import QuickActions from "../components/Sidebar/QuickActions.svelte";
import StreamManager from "../components/Stream/StreamManager.svelte";
---

<Layout title="LENS View">
  <div class="flex" style="height: calc(100vh - 3rem);">
    <StreamManager client:only="svelte" />
    <section class="flex flex-row" style="width: 25%;">
      <CameraList client:only="svelte" />
      <QuickActions client:only="svelte" />
    </section>
  </div>
</Layout>
