---
import Layout from "../layouts/Layout.astro";
import PlaybackVideo from "../managers/Playback2.svelte";
---

<Layout title="Playback | LENS View" topbar>
  <span class="text-4xl">Playback</span>
  <PlaybackVideo client:only="svelte" />
</Layout>
