---
import "@/styles/globals.css";
// import { ViewTransitions } from "astro:transitions";
import Topbar from "../components/Topbar/Topbar.astro";
import { ModeWatcher } from "mode-watcher";

interface Props {
  title: string;
  topbar: boolean;
}

const { title, topbar = false } = Astro.props;
---

<script is:inline>
  const isBrowser = typeof localStorage !== "undefined";
  const getThemePreference = () => {
    if (isBrowser && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  if (isBrowser) {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- <link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
			rel="stylesheet"
			rel="preload"
			as="style"
		/> -->
    <title>{title}</title>
    <!-- <ViewTransitions /> -->
  </head>
  <body class="antialiased">
    <ModeWatcher client:load />
    <!-- <Topbar client:only="svelte" transition:persist /> -->
    {topbar && <Topbar />}

    <slot />
    <!-- <script>
			document.addEventListener("contextmenu", function (event) {
				event.preventDefault();
			});
		</script> -->
  </body>
</html>
